body {
    background-color:white;
    padding: 2em;
    font-family: 'Verdana','Source Sans Pro', 'Arial';
}
.container {
    width: 50%;
    margin: 0 auto;
}
.bold { 
    font-weight: bolder;
}

button {
    margin: 2em 0;
    padding: 1em 4em;
    display:block;
    border-radius: 8px;
    background-color: violet;
}

.row {
    margin-bottom:10px;
}